.member-card {
    border: 0px solid #d5dfff;
    border-radius: 25px;
    cursor: default !important;
}
.member-card-animation:hover{
    border-radius: 25px;
    box-shadow: none;
}

.member-headeing {
    color: #000;
    font-weight: 600;
}

.member-card-active{
    border-radius: 25px;
}

.active.member-button{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 133, 63) !important;
    cursor: not-allowed;
}

.member-button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 133, 63);
    display: block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border-radius: 50px;
    margin-bottom: 14px;
    border: 1px solid rgb(0, 133, 63);

}
.moreLink:hover{
    text-decoration: underline !important;
}