.answer {display: none;
    cursor:pointer;
    color:black;
    text-align:justify;
    font-size:105%;
    font-family: Poppins-Regular;
    padding:5px;
    letter-spacing:1px;
    margin:1px;
}

.question{
    cursor:pointer;
    font-size:125%;
    background:#ffefde;
    padding:10px;
    border-radius:6px;
    font-family: Poppins-Regular;
    color:#f86960;
    margin-top:5px;
}

#myquestion{
    margin-top:-50px;
    
}

.whatsapp{
width:70px;
height:70px;
position:fixed;
top:280px;
float:right;
right:15px;
display:block;
z-index:999;
}
.whatsapp1{
width:70px;
height:70px;
position:fixed;
top:280px;
float:right;
right:90px;
display:block;
z-index:999;
}
.signn{
margin-right:5px;
color:#f86960;
font-weight:bold;
float:right;
font-family: Poppins-Regular;
}

span{

font-family: Poppins-Light;
color:#b0b0b0;
font-size:110%;
line-height:160%;
font-weight:200;
}

#first-para-fonts{

font-family: Poppins-Regular;
color:#b0b0b0;
font-size:120%;
line-height:160%;
font-weight:400;
}


P{
font-family: Poppins-Regular;
color:#b0b0b0;
font-size:120%;
line-height:160%;
font-weight:400;

}

#myBtn{
font-size:110%;
background:none;
color:#f86960;
border:none;
border-radius:none;
display:inline-block;
cursor:pointer;

}

#more {display: none;
font-family: Poppins-Regular;
color:#000000;
font-size:100%;
line-height:160%;
font-weight:160;

}

#dots{
font-family: Poppins-Regular;
color:#b0b0b0;
font-size:120%;
line-height:160%;
font-weight:400;
}

.breadcrumbs{
  position:relative;
  top:-40px;
  font-size:120%;
}
.breadcrumbs b{
  color:orange;
}
.breadcrumbs a{
  color:#000;
}
.breadcrumbs a:hover{
  color:red;
}
#arrowmid{
  font-size:120%;
}



#h2text{
text-align:center;
padding:7px;
color:#000;
width:100%;
height:auto;
background:#e3e1e1;

font-size:150%;
font-weight:bold;
letter-spacing:2px;
margin-top:10px;
}

.new-para{

font-family: Poppins-Regular;
color:#000000;
font-size:120%;
line-height:160%;
font-weight:160;
}


P{
font-family: Poppins-Regular;
color: #000000;
font-size: 100%;
line-height: 160%;
font-weight: 160;
}


#myBtn{
font-size:110%;
background:none;
color:#f86960;
border:none;
border-radius:none;
display:inline-block;
cursor:pointer;

}



.h2text1{
text-align:left;
padding:7px;
width:100%;
height:auto;
background:#ffffff;
font-size:120%;
font-weight:bold;
letter-spacing:1px;
margin-top:10px;
}
.collapsible {
background-color:#e3e1e1;
color:#000 !important;
cursor: pointer;
padding: 10px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-family: Georgia, serif;
font-size:105%;

}

.active, .collapsible:hover {
background-color:#c71b04;
color:white !important;

}

.collapsible:after {
content: '\002B';
color: #000;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
color: #ffffff;
}

.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #ffffff;
}



  #others{
  
height: 55px;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
text-align:center;
margin:auto;
color:#ffffff;
font-size:40px;
font-weight:bold; 
  }

.breadcrumbs{
  position:relative;
  top:-40px;
  font-size:120%;
}
.breadcrumbs b{
  color:orange;
}
.breadcrumbs a{
  color:#000;
}
.breadcrumbs a:hover{
  color:red;
}
#arrowmid{
  font-size:120%;
}



#h2text{
text-align:center;
padding:7px;
color:#000;
width:100%;
height:auto;
background:#e3e1e1;

font-size:150%;
font-weight:bold;
letter-spacing:2px;
margin-top:10px;
margin-bottom:10px;
}

#h2text1{
text-align:center;
padding:8px;
color:#000;
width:100%;
height:auto;
background-color:#f86960; 
font-size:150%;
font-weight:bold;
letter-spacing:2px;
margin-top:10px;
margin-bottom:10px;
}

#myBtn{
font-size:85%;
padding:3px 6px;
text-align:center;
border:1px solid #a6a6a4;
border-radius:3px;

}

#h2text1{
text-align:center;
padding:7px;
color:#ff0000;
width:100%;
height:auto;
background:#e3e1e1;

font-size:120%;
font-weight:bold;
letter-spacing:2px;
margin-top:10px;
}
.collapsible {
background-color:#e3e1e1;
color:#000 !important;
cursor: pointer;
padding: 10px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size:110%;
font-weight:bold;
}

.active, .collapsible:hover {
background-color:#c71b04;
color:white !important;

}

.collapsible:after {
content: '\002B';
color: #000;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
color: #ffffff;
}

.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #ffffff;
}



  #others{
  
height: 55px;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
text-align:center;
margin:auto;
color:#ffffff;
font-size:40px;
font-weight:bold;
border-radius:10px;
  
}


.tour-packages-tab{

width:100%;
height:auto;
background:#ffffff;
margin-top:10px;
margin-bottom:20px;
}

.inner-tour-package{
width:100%;
height:auto;
float:left;
clear:both;
background:#fcfcfc;
margin-top:10px;
margin-bottom:20px;

}
.inner-image{
width:28%;
height:225px;
float:left;
}
#inner-image{
width:100%;
height:225px;

}
.inner-content{
width:50%;
height:225px;
float:left; 
padding:5px 20px;
border-bottom:2px solid #f86960;
}
.inner-content h2{
text-decoration:none;
font-size:100%;
padding:0px;
width:100%;

}

.innerconth3{text-decoration: none;
font-size: 100% !important;
padding: 0px;
line-height: 1.33333;
color: #666666;
text-transform: uppercase;
}
.innerconth4{text-decoration: none;
font-size: 100% !important;
padding: 0px;
line-height: 1.33333;
color: #666666;
text-transform: uppercase;
}

.innerh3{
text-decoration:none;
font-size:100%;
padding:0px;
width:100%;
color:#666666;
}

.innerh4 {
text-decoration:none;
font-size:100%;
padding:0px;
width:100%;
color:#666666;
}

#tour-name{
font-size:90%;
margin-top:10px;
}

.inner-content p{
font-size:88%;
color:#7d7c7c;
margin-top:10px;
}

.inner-content span{
font-size:80%;
margin-left:15px;
margin-top:10px;

}
#inner-time{margin-left:0px;    
padding:3px;
border:1px solid #7d7c7c;
border-radius:3px;
font-size:75%;
text-align:center;
margin-top:10px;
display:inline-block;
}
#inner-time1{padding:3px;
border:1px solid #7d7c7c;
border-radius:3px;
font-size:75%;
text-align:center;
margin-top:10px;
display:inline-block;
}
.inner-offer{
width:22%;
height:225px;
float:left;
padding-top:50px;
padding-left:10px;
padding-right:10px;
background:#f5f5f5;
text-align:center;
border-bottom:2px solid #f86960;
}

.inner-offer span{
font-size:75%;
color:#969393;
}

.inner-offer i{
font-size:155%;
}

#detail-tour{
width:90%;
margin-left:6%;
height:auto;
color:white;
background:#f86960;
padding:5px 10px;
text-align:center;
cursor:pointer;
font-size:90%;
border-radius:2px;
margin-top:30px;
}

.inner-icon{
font-size:88%;
color:gray;
float:left;
margin-top:10px;
padding:2px 8px;
margin-left:30px;
text-align:center;
}

@media only screen and (max-width: 1200px) {

.inner-image{
width:30%;
height:260px;
float:left;
}
#inner-image{
width:100%;
height:260px;

}
.inner-content{
width:45%;
height:260px;
float:left; 
padding:5px 20px;
}

.inner-offer{
width:25%;
height:260px;
float:left;
padding:20px 10px;
background:#f5f5f5;
text-align:center;
}

}

@media only screen and (max-width: 1000px) {

.left-content{
  width:100%;
  padding:10px 20px;
}

.inner-image{
width:100%;
height:265px;
float:left;
}
#inner-image{
width:100%;
height:265px;

}
.inner-content{
width:70%;
height:265px;
float:left; 
padding:20px;
margin-top:5px;
}

.inner-offer{
width:30%;
height:265px;
float:left;
padding:20px;
background:#f5f5f5;
text-align:center;
margin-top:5px;
}

}

@media only screen and (max-width: 750px) {

.left-content{
  width:100%;
  padding:10px 20px;
}

.inner-image{
width:90%;
float:right;
margin-left:5%;
margin-right:5%;
}
#inner-image{
width:90%;
height:280px;
float:right;
display:inline-block;
margin-left:5%;
margin-right:5%;
}
.inner-content{
margin-left:5%;
margin-right:5%;
width:90%;
height:280px;
float:left; 
padding:20px;
margin-top:10px;
border:none;
}

.inner-offer{
margin-left:5%;
margin-right:5%;
width:90%;
height:150px;
float:left;
padding:20px;
background:#f5f5f5;
text-align:center;
margin-top:-30px;
border:none;
}   

}

.package-table, td, th{
width:100%;
padding:5px 10px;
border:1px solid black;
}

#first{
width:30%;
}

#second{
width:10%;
}

#third{
width:26%;
}

.package-table td,th{
width:17%;
}

#shortpack{
width:110px;
padding:5px 10px;
text-align:center;
background:#f86960;
color:white;   
}

 

.tour-packages-tab{

width:100%;
height:auto;
background:#ffffff;
margin-top:10px;
margin-bottom:20px;
}

.inner-tour-package{
width:100%;
height:auto;
float:left;
clear:both;
background:#fcfcfc;
margin-top:10px;
margin-bottom:20px;

}
.inner-image{
width:28%;
height:225px;
float:left;
}
#inner-image{
width:100%;
height:225px;

}
.inner-content{
width:50%;
height:225px;
float:left; 
padding:5px 20px;
border-bottom:2px solid #f86960;
}
.inner-content h2{
text-decoration:none;
font-size:100%;
padding:0px;
width:100%;
line-height: 1.33333;
color: #666666;
text-transform: uppercase;

}

#tour-name{
font-size:90%;
margin-top:10px;
}

.inner-content p{
font-size:88%;
color:#7d7c7c;
margin-top:10px;
}

.inner-content span{
font-size:80%;
margin-left:15px;
margin-top:10px;

}
#inner-time{margin-left:0px;    
padding:3px;
border:1px solid #7d7c7c;
border-radius:3px;
font-size:75%;
text-align:center;
margin-top:10px;
display:inline-block;
}
#inner-time1{padding:3px;
border:1px solid #7d7c7c;
border-radius:3px;
font-size:75%;
text-align:center;
margin-top:10px;
display:inline-block;
}
.inner-offer{
width:22%;
height:225px;
float:left;
padding-top:50px;
padding-left:10px;
padding-right:10px;
background:#f5f5f5;
text-align:center;
border-bottom:2px solid #f86960;
}

.inner-offer span{
font-size:75%;
color:#969393;
}

.inner-offer i{
font-size:155%;
color:black;
}

#detail-tour{
width:90%;
margin-left:6%;
height:auto;
color:white;
background:#f86960;
padding:5px 10px;
text-align:center;
cursor:pointer;
font-size:90%;
border-radius:2px;
margin-top:30px;
}

.inner-icon{
font-size:88%;
color:gray;
float:left;
margin-top:10px;
padding:2px 8px;
margin-left:30px;
text-align:center;
}

@media only screen and (max-width: 1200px) {

.inner-image{
width:30%;
height:260px;
float:left;
}
#inner-image{
width:100%;
height:260px;

}
.inner-content{
width:45%;
height:260px;
float:left; 
padding:5px 20px;
}

.inner-offer{
width:25%;
height:260px;
float:left;
padding:20px 10px;
background:#f5f5f5;
text-align:center;
}

}

@media only screen and (max-width: 1000px) {

.left-content{
  width:100%;
  padding:10px 20px;
}

.inner-image{
width:100%;
height:265px;
float:left;
}
#inner-image{
width:100%;
height:265px;

}
.inner-content{
width:70%;
height:265px;
float:left; 
padding:20px;
margin-top:5px;
}

.inner-offer{
width:30%;
height:265px;
float:left;
padding:20px;
background:#f5f5f5;
text-align:center;
margin-top:5px;
}

}

@media only screen and (max-width: 750px) {

.left-content{
  width:100%;
  padding:10px 20px;
}

.inner-image{
width:90%;
float:right;
margin-left:5%;
margin-right:5%;
}
#inner-image{
width:90%;
height:280px;
float:right;
display:inline-block;
margin-left:5%;
margin-right:5%;
}
.inner-content{
margin-left:5%;
margin-right:5%;
width:90%;
height:280px;
float:left; 
padding:20px;
margin-top:10px;
border:none;
}

.inner-offer{
margin-left:5%;
margin-right:5%;
width:90%;
height:150px;
float:left;
padding:20px;
background:#f5f5f5;
text-align:center;
margin-top:-30px;
border:none;
}   

}

.package-table, td, th{
width:100%;
padding:5px 10px;
border:1px solid black;
}

#first{
width:30%;
}

#second{
width:10%;
}

#third{
width:26%;
}

.package-table td,th{
width:17%;
}

#shortpack{
width:110px;
padding:5px 10px;
text-align:center;
background:#f86960;
color:white;   
}




/*  Inline Form CSS */

.inlineform{
width:90%;
margin-left:5%;
margin-right:5%;
background:#f0d292;
border-radius:90px;
height:140px;
padding:10px 5px;
}
#forminput:first-child{margin-left:30px;}
#forminput{
width:210px;
padding:10px 5px;
margin-left:10px;
border-radius: 25px;
border: none;
}
#formtextarea{
width:210px;
padding:10px 3px;
margin-left:10px;
  border-radius: 25px;
border: none;
height: 40px;
}
#formsubmit{
width:110px;
padding:10px;
text-align:center;
margin-left:10px;
background:#f86960;
color:white;
border:none;
border-radius:20px;
font-family: Poppins-Regular;
}
#formcaption{
text-align:center;
display:block;
padding:3px 0px;
color:#000;
font-size:140%;
font-weight:600;
font-family: Poppins-Regular;
}

@media only screen and (max-width: 1250px){
.inlineform{
width:96%;
margin-left:2%;
margin-right:2%;
background:#f0d292;
border-radius:30px;
height:60px;
padding:10px 5px;
} 

}

@media only screen and (max-width: 1100px){
.inlineform{
width:70%;
margin-left:15%;
margin-right:15%;
background:#f0d292;
border-radius:5px;
height:340px;
padding:10px;
} 
#forminput:first-child{margin-left:5%;margin-top:20px;}
#forminput{
width:90%;
padding:10px 5px;
margin-left:5%;
margin-top:10px;
border-radius:3px;
display:block;
}
#formtextarea{
width:90%;
padding:10px;
margin-left:5%;
margin-top:10px;
border-radius:3px;
}
#formsubmit{
width:40%;
padding:10px;
text-align:center;
margin-left:30%;
margin-right:30%;
margin-top:10px;
background:#f86960;
color:white;
border:none;
border-radius:3px;
}
#formcaption{
display:block;
font-weight:bold;
padding:10px 0px 0px 0px;
color:#000;
}
}

@media only screen and (max-width: 700px){
.inlineform{
width:96%;
margin-left:2%;
margin-right:2%;
background:#f0d292;
border-radius:5px;
height:340px;
padding:10px;
} 
#forminput:first-child{margin-left:5%;margin-top:20px;}
#forminput{
width:90%;
padding:10px 5px;
margin-left:5%;
margin-top:10px;
border-radius:3px;
display:block;
}
#formtextarea{
width:90%;
padding:10px;
margin-left:5%;
margin-top:10px;
border-radius:3px;
}
#formsubmit{
width:60%;
padding:10px;
text-align:center;
margin-left:20%;
margin-right:20%;
margin-top:10px;
background:#f86960;
color:white;
border:none;
border-radius:3px;
}
#formcaption{
display:block;
font-weight:bold;
color:#000;
padding:10px 0px 0px 0px;
}
}



