.debit-card-parent {
  padding: 10px 40px;
  border: 0.15rem solid rgb(17, 145, 153);
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(246, 252, 252);
  cursor: pointer;

  .AddCardTile__CardName {
    line-height: 1.5;
    margin: 0px 0px 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(54, 54, 54);
  }

  .card-img {
    display: flex;
    gap: 15px;
    align-items: center;

    img {
      position: relative;
      max-width: 100%;
      width: 44px;
      // height: 2.5rem;
      overflow: hidden;
    }
  }

  .card-form {
    .MuiFormControl-root {
      width: 100%;

      #outlined-basic-label {
      }
      .MuiInputLabel-shrink {
        pointer-events: none;
        transition: all 0.2s ease 0s;
        color: rgb(181, 181, 181);
        background: rgb(255, 255, 255);
        padding: 0px 5px;
        max-width: 90%;
        max-height: 2.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .MuiInputBase-root {
      .MuiInputBase-input {
        padding: 10px;
        height: 30px;
      }
    }

    .checkout-btn {
      background-color: rgb(204, 204, 204);
      cursor: pointer;
      height: 52px;
      width: 100%;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      color: white;
      font-size: 18px;
      border-radius: 0.6rem;
    }
  }

  .accept-text {
    line-height: 1.5;
    margin: 1.5rem 0px 0px;
    color: rgb(130, 130, 130);
    font-size: 14px;
    overflow-wrap: break-word;
  }
}




@media only screen and (max-width: 991px)  {
  .debit-card-parent {
    padding: 10px 10px;
  }
}

