.top-category{

    
    .react-multi-carousel-list {
    padding-bottom: 8px !important;

    .react-multi-carousel-item {
        width: 100% !important;       
    }
}

}


// ==========================================================================
// ==========================================================================


@media screen and (min-width: 280px) {
    .react-multi-carousel-item {
      padding-right: 3px;
    }
  }
  
  @media screen and (min-width: 360px) {
    .react-multi-carousel-item {
      padding-right: 3px;
    }
  }
  @media screen and (min-width: 375px) {
    .react-multi-carousel-item {
      padding-right: 7px;
    }
  }
  @media screen and (min-width: 390px) {
    .react-multi-carousel-item {
      padding-right: 7px;
    }
  }
  @media screen and (min-width: 412px) {
    .react-multi-carousel-item {
      padding-right: 3px;
    }
  }
  @media screen and (min-width: 414px) {
    .react-multi-carousel-item {
      padding-right: 3px;
    }
  }
  @media screen and (min-width: 430px) {
    .react-multi-carousel-item {
      padding-right: 7px;
    }
  }
  @media screen and (min-width: 540px) {
    .react-multi-carousel-item {
      padding-right: 5px;
    }
  }
  @media screen and (min-width: 768px) {
    .react-multi-carousel-item {
      padding-right: 5px;
    }
  }
  @media screen and (min-width: 820px) {
    .react-multi-carousel-item {
      padding-right: 19px;
    }
  }
  @media screen and (min-width: 1024px) {
    .react-multi-carousel-item {
      padding-right: 4px;
    }
  }
  
  @media (min-width: 1280px) {
    .react-multi-carousel-item {
      padding-right: 4px;
    }
  }

  